Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.

In [43]:
import pandas as pd

def createDataframe(student_data):
    return pd.DataFrame(data=student_data,columns=['student_id','age'])

In [45]:
list = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [33]:
def getDataframeSize(players):
    a = len(players.index)
    b = len(players.columns)
    return list[a,b]

In [46]:
kj=createDataframe(list)

In [70]:
kj

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [72]:
kj['student_id']

0    1
1    2
2    3
3    4
Name: student_id, dtype: int64

In [61]:
kj.loc[0:2]

   student_id  age
0           1   15
1           2   11
2           3   11

In [38]:
a =len(kj.index)

In [39]:
b=len(kj.columns)

In [42]:
list=[a,b]

In [34]:
getDataframeSize(list)

TypeError: object of type 'builtin_function_or_method' has no len()

In [79]:
pd.DataFrame(data=[101,'Ulysses',13]

     0
0  101
1  sss

In [ ]:
def selectData(students):
    data = pd.DataFrame(students)
    for i in range(len(data.index)):
        if data['student_id'][i] == '101':
            a = data.iloc[i]
    return a

In [ ]:
pd.DataFrame('mehran')