A company plans to provide its employees with a bonus.

Write a solution to create a new column name bonus that contains the doubled values of the salary column.

The result format is in the following example.

In [1]:
import pandas as pd

data = pd.DataFrame({'name':['nmn','mkju'], 'salary':[123,456]})

In [2]:
data

   name  salary
0   nmn     123
1  mkju     456

0    246
1    912
Name: salary, dtype: int64

In [11]:
data['bon']=data['salary']*2

In [12]:
data

   name  salary  bon
0   nmn     123  246
1  mkju     456  912