In [5]:
import pandas as pd

In [18]:
students = pd.DataFrame({'student_id':[101,2,3,5],'name':['Ulysses','William','Henry','Henry'] , 'age':[13,10,6,11]})

Write a solution to select the name and age of the student with student_id = 101.

In [30]:
students

   student_id     name  age
0         101  Ulysses   13
1           2  William   10
2           3    Henry    6
3           5    Henry   11

In [27]:
int(students['student_id'][2])

3

In [28]:
lst = []
for i in range(len(students.index)):
    lst.append(int(students['student_id'][i]))
lst

[101, 2, 3, 5]

In [59]:
import pandas as pd
def selectData(students):
    for i in range(len(students.index)):
        if students['student_id'][i] == 101:
            a = students.loc[i]
            res = pd.DataFrame({'name':[a[1]], 'age':[a[2]]})       
    return res

In [60]:
selectData(students)

/tmp/ipykernel_78833/216111420.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  res = pd.DataFrame({'name':[a[1]], 'age':[a[2]]})

      name  age
0  Ulysses   13